table {
    --bs-table-striped-bg: rgb(248, 223, 248) !important;
  }

.btn-outline-up {
    --bs-btn-color: rgb(155, 0, 202);
    --bs-btn-border-color: rgb(155, 0, 202);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(155, 0, 202);
    --bs-btn-hover-border-color: rgb(155, 0, 202);
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(155, 0, 202);
    --bs-btn-active-border-color: rgb(155, 0, 202);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgb(155, 0, 202);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgb(155, 0, 202);
    --bs-gradient: none;
}

#tituloLista {
    color: rgb(5, 101, 139);
    text-decoration: underline rgb(5, 101, 139);
    text-align: center;
}

.table-bordered>:not(caption)>*>* {
    border: 1px solid rgba(4, 80, 110, 0.151);
}

#tabelaLista {
    overflow: hidden;
    color: rgb(4, 80, 110);
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid rgb(4, 80, 110);
    border-radius: 10px;
    /*--bs-table-striped-color: rgb(4, 80, 110);*/
}

#logoUP {
    max-width: 120px;
    padding-top: 10px;
    margin-bottom: 0px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#Filtro {
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#divInputFiltrar {
    text-align: right;
    padding-right: 0px;
    margin-right: 0px;
}

#inputFiltrar {
    border-color:rgb(155, 0, 202);
}

#botaoFiltrar {
    text-align: right;
    padding-left: 0px;
    margin-left: 0px;
}

input:focus {
    box-shadow: 0 0 10px rgb(155, 0, 202) !important;
}